
        <div class="product">
            <img src="{{image_url}}">{{!-- <a href="/beers/{{id}}">{{name}}</a> --}}
            <div class="infoProduct">
                <h2>{{name}}</h2>
                <p>{{tagline}}</p>
                <p>{{description}}</p>
            </div>
        </div>